<div class="main posts-new">
  <div class="container">
    <!-- h1 class="form-heading">Create a new task</h1 -->
    <h1 class="form-heading">Task</h1>
    <%= form_with(model: task, local: true) do |form|%>    
      <div class="form">
        <div class="form-body">
          <% @task.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <p><%= form.label :Task %></p>
          <%= form.text_field :t_title %> 
          <p><%= form.label :Description %></p>              
          <%= form.text_area :t_descn %>
          <%= form.submit %>
        </div>
      </div>
    <% end %>
  </div>
</div>

