<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">Create a new User</h1>
    <%= form_with(model: user, local: true) do |form| %>
      <div class="form">
        <div class="form-body">
          <% @user.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <p><%= form.label :User_name %></p>
          <%= form.text_field :name %>   
          <%#= form.label :task %>
          <%#= form.text_field :active_job %>    
          <%#= form.label :time %>
          <%#= form.text_field :time %>  
          <%#= form.label :added_at %>        
          <%#= Time.now.strftime("%H:%M %B %d,%Y") %>  
          <%= form.submit %>
        </div>
      </div>
    <% end %>
  </div>
</div>
