<% provide(:title, "User") %>

<p id="notice"><%= notice %></p>

<h1><%= @user.name %></h1>
<%= link_to 'User edit', edit_user_path(@user) %>
| <%= link_to 'Back to Users', users_path %> 

<br></br>

<h3>TASKS</h3>

<table>
  <thead>
    <tr>
      <th width="150x" align="left">Task</th>
      <th width="200px" align="left">Description</th>
      <th width="100px" align="left">Updated</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.tasks.each do |a| %>
      <tr>
        <td><%= a.t_title %></td>
        <td><%= a.t_descn.first(50) %></td>
        <td><%= a.updated_at.localtime.strftime("%H:%M %Y.%m.%d") %></td>
        <td><%= link_to 'Show', a %></td>
        <td><%= link_to 'Edit', edit_task_path(a) %></td>
        <td><%= link_to 'Delete', a, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Last update:
  <% @user.tasks.last(1).each do |u|%>
    <%= u.t_title %> - <%= u.updated_at.localtime.strftime("%H:%M %Y.%m.%d")  %>
  <% end %>
</h3>

<p><%= t = @user.tasks.order('updated_at DESC').take(1)%> 

<br></br>

<div>
<h3>New task</h3>

<%#= form_with(model: [@user, @user.tasks.create], local: true) do |form| %>
<%= form_with(model: [@user, @user.tasks.build], local: true) do |form| %>
  <p width="150x">
    <%= form.label :Title %><br>
    <%= form.text_field :t_title %>
  </p>

  <p width="150x">
    <%= form.label :Description %><br>
    <%= form.text_area :t_descn %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
</div>

<div>
<%= Time.now.strftime("%H:%M:%S %B %d,%Y") %>
<script> /*5 sec. refresh script*/
$(document).ready(function() {
  setTimeout(function() {
    window.location.reload();
  }, 5000);
});
</script>
</div>

