<% provide(:title, "User") %>
<div class="main user-show">
  <div class="container">
    <div class="user">
      <h2><%= @user.name %></h2>
      <%= link_to("Edit","/users/#{@user.id}/edit") %> |      
      <%= link_to("Delete","/users/#{@user.id}/destroy", {method: "post"}) %> |        
      <% @user.tasks.each do |a| %>
      <div class="posts-index-item">
        <div class="post-right">               
          <p><%= link_to a.t_title, a %></p>
          <p><%= a.t_descn.first(50) %></p>
          <p><%= a.updated_at%></p>
        </div>
      </div>
    <% end %>   
  </div>
</div>

