<% provide(:title, "User") %>

<h1><%= @user.name %></h1>
<%= link_to 'User edit', edit_user_path(@user) %> 
<%#= link_to 'Back to All users', users_path %> 
<p><%#= link_to 'New Ticket', new_ticket_path %></p>

<div class="wrapper">

<!-- Tasks table -->

<div class="left_block">
<h3>TASKS</h3>
<table>
  <thead>
    <tr>
      <th width="150x" align="left">Task</th>
      <th width="200px" align="left">Description</th>
      <th width="100px" align="left">Updated</th>      
    </tr>
  </thead>
  <tbody>
    <% @user.tasks.each do |a| %>
      <tr>
        <td><%= link_to a.t_title, a %></td>
        <td><%= a.t_descn.first(50) %></td>
        <td><%= a.updated_at.localtime.strftime("%H:%M %Y.%m.%d") %></td>
        </tr>
    <% end %>
  </tbody>
</table>
</div>

<!-- Creating a New Task -->

<div class="right_block">
<h3>New task</h3>
<%= form_with(model: [@user, @user.tasks.build], local: true) do |form| %>
  <p width="150x">
    <%= form.label :Title %><br>
    <%= form.text_field :t_title %>
  </p>
  <p width="150x">
    <%= form.label :Description %><br>
    <%= form.text_area :t_descn, rows: 5, cols: 25 %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>   
</div>
</div>

<!-- Tickets Table -->

<div class="wrapper">
<div class="left_block">
<h3>TICKETS</h3>
<table>
  <thead>
    <tr>
      <th width="50x" align="left">Task</th>
      <th width="200px" align="left">Description</th>
      <th width="100px" align="left">Updated</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @user.tickets.each do |ticket| %>
      <tr>
        <td>
          <%= ticket.task_id %>
        </td>
        <!--<td><%#=Task.all.collect{ |u| u.t_title }%></td> --> 
        <!--<td><%#= t.tasks.order('updated_at DESC').take(1){ |u| u.t_title }%></td>-->               
        <td><%= ticket.ticket_d.first(50) %></td>
        <td><%= ticket.updated_at.localtime.strftime("%H:%M %Y.%m.%d") %></td>
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>    
    <% end %>
  </tbody>
</table>
</div>

<!-- Creating a New Ticket -->

<div class="right_block">
<h3>New ticket</h3>

<%= form_with(model: [@user, @user.tickets.build], local: true) do |form| %>
  <p width="150x">
    <%= form.label :Select_a_task %>
  </p>
  <p>
    <%= form.collection_select(:task_id, @user.tasks, :id, :t_title) %>  <!-- Currrent user tasks-->
    <%#= form.text_field :task_id%>   
    <%#= form.text_field :t_title %>
    <%#= form.select :t_title, Task.all.collect{ |u| [u.t_title] }%> <!-- All Tasks -->        
    <%#= form.select :t_title, @user.tasks.each{ |u| [u.t_title] }%>
  </p>
  <p>
    <%= form.text_field :user_id, hidden: true %>  
    <%#= form.label :User %>   
    <%#= form.collection_select(:user_id, User.all, :id, :name, prompt: true) %>          
  </p>
       
  <p width="150x">
    <%= form.label :Description %><br>
    <%= form.text_area :ticket_d, rows: 5, cols: 25 %>
  </p>
  <%#= form.label :User %>    
  <%#= form.select :user_id, User.all.collect{ |u| [u.name, u.id ] }%>

  <div>
    <p><%= form.label :ticket_start %></p>
    <p><%= form.time_select :ticket_start %>
    <p><%= form.date_select :ticket_start %>    
  </div>
  <p> </p>

  <div>
    <p><%= form.label :ticket_end %></p>
    <p><%= form.time_select :ticket_end %>
    <p><%= form.date_select :ticket_end %>    
  </div>
  <br>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%#= Time.now.strftime("%H:%M:%S %B %d,%Y") %>
</div>

<div class="wrapper">
<p></p>
<script> /*5 sec. refresh script*/
  $(document).ready(function() {
    setTimeout(function() {
      window.location.reload();
    }, 5000);
  });
</script>
</div>

