<% provide(:title, "User") %>
<div class="main user-show">
  <div class="container">
    <div class="user">
      <h2><%= @user.name %></h2>             
      <%= link_to("Edit","/users/#{@user.id}/edit") %> |      
      <%#= link_to("Delete","/users/#{@user.id}/destroy", {method: "post"}) %>
      <%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
      <%= link_to 'New Task', new_task_path %>     
    </div>  

    <ul class="user-tabs">
      <li><%= link_to("Tasks", "/users/#{@user.id}") %></li>
      <li class="active"><%= link_to("Tickets", "/users/#{@user.id}/tickets") %></li>
    </ul>
    </div> 
    </div> 