<% provide(:title, "Ticket") %>
<p>
  <strong>Ticket:</strong>
  <%= @ticket.ticket_d %>
</p>

<p>
  <strong>Task:</strong>
  <%= @ticket.task_id%>
</p>

<p>
  <strong>Ticket start:</strong>
  <%= @ticket.ticket_start %>
</p>

<p>
  <strong>Ticket end:</strong>
  <%= @ticket.ticket_end %>
</p>

<!-- <p>
  <strong>User:</strong>
  <%= @ticket.user_id %>
</p> -->

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%#= link_to 'Back', tickets_path %>
<%= link_to 'Back to User', user_path(@ticket.user_id) %> 
